<%- include('../parts/header.ejs') -%>
<form id="researchForm" action="/research/new" method="post">
  
  <label>Titolo:</label>
  <input name="name" class="<%=%>" value=<%= %>></br>

  <label>pubmed id:</label>
  <input name="pmid" class="<%=%>" value=<%= %>></br>
  
  <label>doi id:</label>
  <input name="doi" class="<%=%>" value=<%= %>></br>

  <label>pdf_path (temp)</label>
  <input name="pdf_path" class="<%=%>" value=<%= %>></br>

  <input name="single" type="hidden" value=<%= %>>
  <input name="single" class="<%=%>" type="checkbox" value=true>
  <label>review o meta analisi:</label></br>

  <label>numero studi o ricerche:</label>
  <input class="<%=%>" name="number" value=false></br>

  <label>analisi studio</label></br>
  <textarea class="<%=%>" name="summary"><%= %></textarea></br>
  
  <input type="submit">

</form>
