<%- include('./parts/header.ejs') -%>
  <div class="main">
    <h2 class="title"><%= r.name %></h2>
    <div style="display: inline-flex;">
      <p>Pubmed id: <a href="https://pubmed.ncbi.nlm.nih.gov/<%= r.pmid%>"><%= r.pmid%></a></p>
      <p><a href=<%= r.doi%>>Doi direct link</a></p>
    </div>
    <br>
    <iframe src="<%=r.id%>/file" width="800px" height="400px"/><br>
    <button onclick="deleteAndRedirect()">Elimina</button>
  </div>
</body>
</html>
