<%- include('./parts/header.ejs') -%>
  <h3><%= r.name %></h3>
  <p><b>Pubmed id:<b> <a href="https://pubmed.ncbi.nlm.nih.gov/<%= r.pmid%>"><%= r.pmid%></a></p>
  <p><a href="https://doi.org/<%= r.doi%>"><b>Doi direct link<b></a></p>
  <p><%= r.summary %></p>
  <form id="updateForm" action="/research/<%= r.id%>/edit" method="get">
    <input class="button" type=submit value="Modifica">
  </form>
  <button onclick="deleteAndRedirect('/research/<%=r.id%>', '/research')">Elimina</button>
</body>
</html>
