<%- include('../parts/header.ejs') -%>
  <h3><%= r.name %>test</h3>
  <a href="https://pubmed.ncbi.nlm.nih.gov/<%= r.pmid%>"><b>Pubmed id:<b> <%= r.pmid%></a>
  <p><%= r.summary %></p>
</body>
</html>
